<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">OOTS</a>
          </li>
          @for (item of breadcrumbItems; track item) {
            @if (!item.active) {
              <li class="breadcrumb-item">
                <a href="javascript: void(0);" routerLink="[item.path]">{{
                  item.label
                }}</a>
              </li>
            }
            @if (item.active) {
              <li class="breadcrumb-item active">
                <a routerLink="[item.path]">{{ item.label }}</a>
              </li>
            }
          }
        </ol>
      </div>
      <h4 class="page-title">{{ title }}</h4>
    </div>
  </div>
</div>
<!-- end page title -->
