<app-default-layout containerClass="account-pages mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4">
      <div class="card bg-pattern">
        <div class="card-body p-4">
          <div class="text-center w-75 m-auto">
            <div class="auth-logo">
              <a [routerLink]="'../../dashboard-1'" class="logo logo-dark text-center">
                <span class="logo-lg">
                  <img src="./assets/images/logos/logo-oots.png" alt="OOTS Colombia" width="150" />
                </span>
              </a>

              <a [routerLink]="'../../dashboard-1'" class="logo logo-light text-center">
                <span class="logo-lg">
                  <img src="./assets/images/logos/logo-oots.png" alt="OOTS Colombia" width="150" />
                </span>
              </a>
            </div>
            <p class="text-muted mb-4 mt-3">
              {{ 'auth.login.subtitle' | transloco }}
            </p>
          </div>

          <form name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <app-ui-preloader [display]="loading"></app-ui-preloader>
            @if (error) {
            <ngb-alert type="danger" [dismissible]="false">{{ error }}</ngb-alert>
            }

            <div class="mb-3">
              <label for="emailaddress" class="form-label">{{ 'auth.login.email' | transloco }}</label>
              <input class="form-control" type="email" id="emailaddress"
                [placeholder]="'auth.login.emailPlaceholder' | transloco" formControlName="email" [ngClass]="{
                  'is-invalid': formSubmitted && formValues.email.invalid
                }" required />

              @if (formSubmitted && formValues.email.invalid) {
              <div class="invalid-feedback">
                @if (formValues.email.errors?.required) {
                <div>{{ 'auth.login.errors.emailRequired' | transloco }}</div>
                } @if (formValues.email.errors?.email) {
                <div>{{ 'auth.login.errors.emailInvalid' | transloco }}</div>
                }
              </div>
              }
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">{{ 'auth.login.password' | transloco }}</label>
              <div class="input-group input-group-merge">
                <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
                  [placeholder]="'auth.login.passwordPlaceholder' | transloco" formControlName="password" required
                  minlength="4" [ngClass]="{
                    'is-invalid': formSubmitted && formValues.password.invalid
                  }" />
                <div class="input-group-text" (click)="showPassword = !showPassword">
                  <span class="password-eye"></span>
                </div>
                @if (formSubmitted && formValues.password.invalid) {
                <div class="invalid-feedback">
                  @if (formValues.password.errors?.required) {
                  <div>{{ 'auth.login.errors.passwordRequired' | transloco }}</div>
                  } @if (formValues.password.errors?.minlength) {
                  <div>{{ 'auth.login.errors.passwordMinLength' | transloco }}</div>
                  }
                </div>
                }
              </div>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signin" checked />
                <label class="form-check-label" for="checkbox-signin">{{ 'auth.login.rememberMe' | transloco }}</label>
              </div>
            </div>

            <div class="text-center d-grid">
              <button class="btn btn-primary" type="button" (click)="onSubmit()">{{ 'auth.login.signIn' | transloco
                }}</button>
            </div>
          </form>
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->

      <div class="row mt-3">
        <div class="col-12 text-center">
          <p>
            <a [routerLink]="['../reset-password']" class="text-white-50 ms-1">{{ 'auth.login.forgotPassword' |
              transloco }}</a>
          </p>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</app-default-layout>