<div class="text-center card">
  <div class="card-body">
    <div class="pt-2 pb-2">
      <img
        [src]="usuario.foto"
        class="rounded-circle img-thumbnail avatar-xl"
        [alt]="usuario.primerNombre"
      />

      <h4 class="mt-3">
        <a
          [routerLink]="['../profile']"
          [queryParams]="{ id: usuario.id }"
          class="text-dark"
          >{{ usuario.primerNombre }} {{ usuario.segundoNombre }}
          {{ usuario.primerApellido }} {{ usuario.segundoApellido }}</a
        >
      </h4>
      <div class="text-muted">{{ usuario.cargo }}</div>

      <div>
        <a href="javascript:void(0)" class="text-pink">{{ usuario.email }}</a>
      </div>

      <p class="btn btn-primary btn-sm waves-effect waves-light me-1 mt-3">
        {{ usuario.celular }}
      </p>

      <div class="row mt-4">
        <div class="col-4">
          <div class="mt-3">
            <h4>25</h4>
            <p class="mb-0 text-muted text-truncate">Participantes</p>
          </div>
        </div>
        <div class="col-4">
          <div class="mt-3">
            <h4>50</h4>
            <p class="mb-0 text-muted text-truncate">Casos</p>
          </div>
        </div>
        <div class="col-4">
          <div class="mt-3">
            <h4>5</h4>
            <p class="mb-0 text-muted text-truncate">Proximas Citas</p>
          </div>
        </div>
      </div>
      <!-- end row-->
    </div>
    <!-- end .padding -->
  </div>
</div>
<!-- end card-->
