.sortable {
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  i {
    font-size: 0.75rem;
    margin-left: 0.25rem;
    opacity: 0.6;
  }
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
