<!-- page title -->
<app-page-title
  [breadcrumbItems]="pageTitle"
  title="Genograma"
></app-page-title>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title m-t-0">{{ titulo }}</h4>
        <p class="text-muted font-14">Por favor seleccione el participante</p>
        <div class="col-md-4 mb-2">
          <!-- Utilizando Bootstrap para el elemento <select> con nombres y apellidos colombianos -->
          <select
            class="form-select"
            aria-label="Seleccionar nombre y apellido"
            >
            <!-- Opciones del select con nombres y apellidos colombianos -->
            <option value="juana-gonzalez">Juana González</option>
            <option value="pedro-rodriguez">Pedro Rodríguez</option>
            <option value="maria-martinez">María Martínez</option>
            <option value="carlos-lopez">Carlos López</option>
            <option value="luz-hernandez">Luz Hernández</option>
            <option value="jose-ramirez">José Ramírez</option>
            <option value="ana-castro">Ana Castro</option>
            <option value="juan-ortega">Juan Ortega</option>
            <option value="luisa-gomez">Luisa Gómez</option>
            <option value="felipe-perez">Felipe Pérez</option>
          </select>
        </div>

        <form #fileUpload="ngForm">
          <ngx-dropzone
            (change)="onSelect($event)"
            class="dropzone"
            style="height: auto !important"
            accept="image/jpeg,image/jpg,image/png,image/gif"
            >
            <ngx-dropzone-label>
              <i class="h1 text-muted dripicons-cloud-upload"></i>
              <h3>Suelte los archivos aquí o haga clic para cargarlos.</h3>
              <span class="text-muted font-13"
                >Sólo se permiten archivos PDF, JPG, PNG y JPEG
              </span>
            </ngx-dropzone-label>
          </ngx-dropzone>

          <!-- Preview -->
          <div class="dropzone-previews mt-3" id="file-previews">
            <!-- file preview template -->
            @for (f of files; track f) {
              <div id="uploadPreviewTemplate">
                <div class="card mt-1 mb-0 shadow-none border">
                  <div class="p-2">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img
                          class="avatar-sm rounded bg-light"
                          [alt]="f.name"
                          [src]="getPreviewUrl(f)"
                          />
                      </div>
                      <div class="col ps-0">
                        <a
                          href="javascript:void(0);"
                          class="text-muted fw-bold"
                          >{{ f.name }}</a
                          >
                          <p class="mb-0">{{ getSize(f) }}</p>
                        </div>
                        <div class="col-auto">
                          <!-- Button -->
                          <a
                            href="javascript:void(0)"
                            class="btn btn-link btn-lg text-muted"
                            (click)="onRemove($event)"
                            >
                            <i class="dripicons-cross"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
              <!-- end file preview template -->
            </div>
          </form>
        </div>
        <!-- end card-body -->
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->
  </div>
  <!-- end row -->
